Repository QualityUnit/urlslab-theme, pull requests merged in 2022-06, with the labels that each got.

#70 feat: project management improvements
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/add_to_project.yml
  .github/workflows/labeler.yml
Labels: action:needs-review

#75 feat: bump version to 1.0.2
  CHANGELOG.md
  style.css
Labels: status:ready-to-merge

#86 chore: bump theme version to 1.0.3
  CHANGELOG.md
  style.css
Labels: status:done

#89 [561] feat: adding extra faq shortcode
  lib/shortcodes.php
  lib/shortcodes/extra-faq.php
Labels: action:needs-review

#90 chore: bump theme version to 1.0.4
  CHANGELOG.md
  style.css
Labels: action:needs-review
