Repository QualityUnit/urlslab-theme, pull requests merged in 2023-11, with the labels that each got.

#311 [2253] feat: blog styles
  assets/scripts/vendor/splide.js
  assets/styles/common/_mixins.scss
  assets/styles/common/_variables.scss
  assets/styles/common/splide.scss
  assets/styles/components/SliderCutted.scss
  assets/styles/components/_AuthorCard.scss
  assets/styles/components/_BlogPostHeader.scss
  assets/styles/components/_BlogShare.scss
  assets/styles/components/_BlogShareSidebar.scss
  assets/styles/components/_SignupForm-sidebar.scss
  assets/styles/elements/_PostTypography.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/Archive.scss
  assets/styles/layouts/_Blog.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_PostHeader-narrow.scss
  assets/styles/layouts/_Post__header-images.scss
  assets/styles/pages/blog.scss
  assets/styles/pages/post.scss
  lib/assets.php
  lib/pagesources.php
  lib/shortcodes/signup-sidebar.php
  template-blog-header.php
  template-blog.php
  templates/content-archive.php
  templates/content-single.php
Labels: status:review-OK

#313 [2253] fix: small bugfixes to blog styles
  assets/styles/app.scss
  assets/styles/common/splide.scss
  assets/styles/components/_BlogShare.scss
  assets/styles/components/_BlogShareSidebar.scss
  assets/styles/elements/_Breadcrumb.scss
  assets/styles/elements/_PostTag.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_BlogPost.scss
Labels: status:done, status:review-OK

#312 [2232] pricing redesign
  assets/images/icon-check-blue.svg
  assets/styles/Elementor.scss
  assets/styles/components/_BlockCaseStudy.scss
  assets/styles/components/_BlockImage.scss
  assets/styles/components/_BlockImprove.scss
  assets/styles/components/_PricingBanner.scss
  assets/styles/components/_PricingPrograms.scss
  assets/styles/components/_PricingTable.scss
  assets/styles/elements/_Button.scss
  assets/styles/pages/Pricing.scss
  assets/styles/vendor/_elementor-cherrypicks.scss
  base.php
Labels: status:review-OK

#314 [2120] Redesign of the URLsLab main menu
  assets/scripts/app/app.js
  assets/styles/common/_animations.scss
  assets/styles/common/_variables.scss
  assets/styles/components/_Header.scss
  assets/styles/elements/Header/_HeaderNavigationMain.scss
  assets/styles/elements/Header/_HeaderNavigationSubItemsColors.scss
  assets/styles/elements/Header/_HeaderNavigationSubMenu.scss
  templates/header.php
Labels: status:review-OK

#316 [2409] Broken style urlslab menu
  assets/styles/elements/Header/_HeaderNavigationSubItemsColors.scss
  assets/styles/elements/Header/_HeaderNavigationSubMenu.scss
Labels: status:review-OK

#317 feat: partially disable grafana
  lib/shortcodes/signup-sidebar.php
  template-blog.php
  templates/content-single-glossary.php
Labels: status:review-OK

#319 [2421] deleted script which adding target blank to links
  assets/scripts/app/app.js
Labels: action:needs-review

#320 [2410] Urlslab - create new content KW
  assets/styles/Elementor.scss
  assets/styles/common/_typography.scss
  assets/styles/components/_BlockBackground.scss
  assets/styles/components/_BlockBasic.scss
  assets/styles/components/_BlockImage.scss
  assets/styles/components/_HeroBanner.scss
  assets/styles/layouts/Elementor.scss
  assets/styles/vendor/_elementor-cherrypicks.scss
  assets/styles/vendor/_elementor-typography.scss
  composer.lock
  templates/content-page.php
Labels: action:needs-review

#321 [2410] Fixed some styles for sections
  assets/styles/components/_BlockImage.scss
Labels: action:needs-review
