Repository QualityUnit/urlslab-theme, pull requests merged in 2023-07, with the labels that each got.

#226 [1662] feat: pricing tables post type
  assets/styles/wordpress.css
  functions.php
  lib/post-types.php
  lib/post-types/pricing-tables.php
Labels: status:ready-to-merge, status:review-OK

#235 [1622] fix: pricing tables
  lib/post-types/pricing-tables.php
Labels: status:done, status:review-OK

#238 fix: adding glossary categories to theme
  lib/taxonomies.php
Labels: action:needs-review

#239 [1707] feat: videos post type and categories
  lib/post-types.php
  lib/post-types/videos.php
  lib/taxonomies.php
  lib/taxonomies/videos-categories.php
Labels: status:done, status:review-OK

#248 [1700] feat: pricing table styling
  assets/styles/components/_PricingTable.scss
  assets/styles/pages/Pricing.scss
Labels: action:needs-review

#249 [1707] feat: videos
  assets/images/compact_header_integrations.png
  assets/images/compact_header_research.png
  assets/images/compact_header_reviews_1.png
  assets/images/compact_header_reviews_2.png
  assets/images/compact_header_templates.png
  assets/images/compact_header_use_cases.png
  assets/images/compact_header_webinars.png
  assets/styles/common/_typography.scss
  assets/styles/common/_variables.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_HeroHeadline.scss
  assets/styles/pages/Category.scss
  lib/functions/import-functions.php
  lib/pagesources.php
  lib/taxonomies/videos-categories.php
  templates/content-archive-videos.php
  templates/content-single-videos.php
Labels: status:done, status:review-OK

#250 [1713] feat: contact page
  assets/styles/common/_typography.scss
  assets/styles/components/compactHeader.scss
  assets/styles/layouts/Post.scss
  lib/post-types.php
  lib/post-types/about.php
  lib/taxonomies.php
  lib/taxonomies/about-categories.php
  templates/content-single-about.php
Labels: status:review-OK

#251 fix: title in elementor guid under articles
  lib/shortcodes/get-post.php
Labels: action:needs-review

#252 [1708] features section to wp
  assets/images/checkbox-active.svg
  assets/images/checkbox-hover.svg
  assets/images/checkbox-inactive.svg
  assets/scripts/custom/filter.js
  assets/styles/app.scss
  assets/styles/elements/_Inputs.scss
  assets/styles/elements/_MultiSelectMenu.scss
  assets/styles/layouts/Archive.scss
  assets/styles/layouts/Post.scss
  assets/styles/layouts/_ArchiveColumns.scss
  assets/styles/layouts/_Posts.scss
  gulpfile.js
  lib/widgets/improve-banner/layouts/banner.php
  templates/content-archive-features.php
  templates/content-archive-videos.php
  templates/content-single-features.php
Labels: status:review-OK

#253 fix: fixed the bug with wrong link
  lib/shortcodes/signup-buttons.php
Labels: status:review-OK

#254 [1777] fix: download button
  templates/header.php
Labels: action:needs-review
